<h1>Welcome to Sinatra Playlister!</h1>
<h2>Main Menu</h2>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">See a List of All the Songs</a></li>
  <li><a href="/artists">See a List of all the Artists</a></li>
  <li><a href="/genres">See a List of all of the Genres</a></li>
</ul>
